In [76]:
import time
import re
import requests
import pandas as pd
from bs4 import BeautifulSoup
from IPython.display import display
import ipywidgets as widgets
import numpy as np

# -----------------------------------------------------------------------------
# Configuration
# -----------------------------------------------------------------------------
URLS = {
    "Opole": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/opolskie/opole/opole/opole?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "ToruÅ„": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/kujawsko--pomorskie/torun/torun?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Bydgoszcz": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/kujawsko--pomorskie/bydgoszcz/bydgoszcz?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Lublin": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/lubelskie/lublin/lublin?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Zielona GÃ³ra": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/lubuskie/zielona-gora/zielona-gora?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "ÅÃ³dz": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/lodzkie/lodz/lodz?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Opole": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/opolskie/opole/opole?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "RzeszÃ³w": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/podkarpackie/rzeszow/rzeszow?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "BiaÅ‚ystok": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/podlaskie/bialystok/bialystok?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "GdaÅ„sk": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/pomorskie/gdansk/gdansk?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Katowice": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/slaskie/katowice/katowice?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Kielce": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/swietokrzyskie/kielce/kielce?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Olsztyn": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/warminsko--mazurskie/olsztyn/olsztyn/olsztyn?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "PoznaÅ„": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/wielkopolskie/poznan/poznan?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Szczecin": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/zachodniopomorskie/szczecin/szczecin?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "KrakÃ³w": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/malopolskie/krakow/krakow?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
    "Warszawa": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/mazowieckie/warszawa/warszawa?limit=72&page={}&ownerTypeSingleSelect=ALL&buildYearMax=2025&by=DEFAULT&direction=DESC",
}


HEADERS = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}
MAX_PAGES = 500

pd.set_option('display.max_colwidth', None)

# -----------------------------------------------------------------------------
# Data references
# -----------------------------------------------------------------------------
# =============================================================================
# ðŸ—ºï¸ Polish Administrative Data â€” Regions, Cities & Districts
# =============================================================================
# This cell defines the mapping between Polish voivodeships (regions),
# their main cities, and the corresponding districts (dzielnice).
# Itâ€™s used for parsing and categorizing location strings from real-estate data.
# =============================================================================

# --- Voivodeships (regions) and their main cities ---
REGIONS = {
    "dolnoÅ›lÄ…skie": ["WrocÅ‚aw"],
    "kujawsko-pomorskie": ["Bydgoszcz", "ToruÅ„"],
    "lubelskie": ["Lublin"],
    "lubuskie": ["Zielona GÃ³ra", "GorzÃ³w Wielkopolski"],
    "Å‚Ã³dzkie": ["ÅÃ³dÅº"],
    "maÅ‚opolskie": ["KrakÃ³w"],
    "mazowieckie": ["Warszawa"],
    "opolskie": ["Opole"],
    "podkarpackie": ["RzeszÃ³w"],
    "podlaskie": ["BiaÅ‚ystok"],
    "pomorskie": ["GdaÅ„sk"],
    "Å›lÄ…skie": ["Katowice"],
    "Å›wiÄ™tokrzyskie": ["Kielce"],
    "warmiÅ„sko-mazurskie": ["Olsztyn"],
    "wielkopolskie": ["PoznaÅ„"],
    "zachodniopomorskie": ["Szczecin"]
}

# --- Major cities and their districts ---
WAW_DISTRICTS = [
    "Bemowo", "BiaÅ‚oÅ‚Ä™ka", "Bielany", "MokotÃ³w", "Ochota",
    "Praga-PoÅ‚udnie", "Praga-PÃ³Å‚noc", "RembertÃ³w", "ÅšrÃ³dmieÅ›cie",
    "TargÃ³wek", "Ursus", "UrsynÃ³w", "Wawer", "WesoÅ‚a",
    "WilanÃ³w", "WÅ‚ochy", "Wola", "Å»oliborz"
]

KRA_DISTRICTS = [
    "Stare Miasto", "GrzegÃ³rzki", "PrÄ…dnik Czerwony", "PrÄ…dnik BiaÅ‚y",
    "Krowodrza", "Bronowice", "Zwierzyniec", "DÄ™bniki",
    "Åagiewniki-Borek FaÅ‚Ä™cki", "Swoszowice", "PodgÃ³rze Duchackie",
    "BieÅ¼anÃ³w-Prokocim", "PodgÃ³rze", "CzyÅ¼yny", "Mistrzejowice",
    "BieÅ„czyce", "WzgÃ³rza KrzesÅ‚awickie"
]

BIA_DISTRICTS = [
    "Centrum", "BiaÅ‚ostoczek", "Sienkiewicza", "Bojary", "Piaski",
    "Antoniuk", "JaroszÃ³wka", "Wygoda", "Piasta I i II", "Wysoki Stoczek",
    "DziesiÄ™ciny I i II", "Bacieczki", "Starosielce", "Dojlidy"
]

BYD_DISTRICTS = [
    "Babia WieÅ›", "Bartodzieje", "Bielawy", "BÅ‚onie", "Bocianowo-ÅšrÃ³dmieÅ›cie-Stare Miasto",
    "BrdyujÅ›cie", "Bydgoszcz WschÃ³d-Siernieczek", "CzyÅ¼kÃ³wko", "Flisy",
    "Glinki-Rupienica", "GÃ³rzyskowo", "Jachcice", "KapuÅ›ciska", "LeÅ›ne",
    "ÅÄ™gnowo", "ÅÄ™gnowo WieÅ›", "MiedzyÅ„-PrÄ…dy", "Nowy Fordon", "Okole",
    "Osowa GÃ³ra", "Piaski", "SmukaÅ‚a-OpÅ‚awiec-Janowo", "Stary Fordon",
    "Szwederowo", "TatrzaÅ„skie", "TerenÃ³w NadwiÅ›laÅ„skich", "Wilczak-Jary",
    "WyÅ¼yny", "WzgÃ³rze WolnoÅ›ci", "Zimne Wodyâ€“Czersko Polskie"
]

GDA_DISTRICTS = [
    "AnioÅ‚ki", "BrÄ™towo", "BrzeÅºno", "CheÅ‚m", "JasieÅ„", "Kokoszki",
    "Krakowiec-GÃ³rki Zachodnie", "Letnica", "Matarnia", "MÅ‚yniska",
    "Nowy Port", "Oliwa", "Olszynka", "Orunia-Åšw. Wojciech-Lipce",
    "Orunia GÃ³rna-GdaÅ„sk PoÅ‚udnie", "Osowa", "Piecki-Migowo", "PrzerÃ³bka",
    "Przymorze MaÅ‚e", "Przymorze Wielkie", "Rudniki", "Siedlce", "Stogi",
    "Suchanino", "ÅšrÃ³dmieÅ›cie", "UjeÅ›cisko-Åostowice", "Wrzeszcz Dolny",
    "Wrzeszcz GÃ³rny", "Zaspa-MÅ‚yniec", "Zaspa-Rozstaje",
    "Å»abianka-Wejhera-Jelitkowo-TysiÄ…clecia"
]

GOR_DISTRICTS = [
    "Baczyna", "ChrÃ³Å›cik", "ChwalÄ™cice", "GÃ³rczyn", "Janice", "Karnin",
    "MaÅ‚yszyn Wielki", "MaÅ‚yszyn MaÅ‚y", "Nowy DwÃ³r", "Piaski", "Sady",
    "ÅšrÃ³dmieÅ›cie", "Zakanale"
]

KIE_DISTRICTS = [
    "BaranÃ³wek", "Barwinek", "BiaÅ‚ogon", "Biesak", "Bocianek", "BukÃ³wka",
    "Cedro-Mazur", "Cegielnia", "Centrum", "ChÄ™ciÅ„skie", "CzarnÃ³w",
    "DÄ…browa", "DobromyÅ›l", "Domaszowice Wikaryjskie", "Dyminy-WieÅ›",
    "GÅ‚Ä™boczka", "Herby", "JagielloÅ„skie", "KarczÃ³wka", "Åazy", "MalikÃ³w",
    "Na Stoku", "Nowy Folwark", "NiewachlÃ³w I", "NiewachlÃ³w II",
    "Osiedle Jana Czarnockiego", "Osiedle Jana Kochanowskiego", "Ostra GÃ³rka",
    "Pakosz", "Panorama", "Piaski", "Pietraszki", "Pod DalniÄ…", "Podhale",
    "PodkarczÃ³wka", "Pod Telegrafem", "PosÅ‚owice", "Sady", "Sandomierskie",
    "Sieje", "SitkÃ³wka", "Skrzetle", "SÅ‚oneczne WzgÃ³rze", "SÅ‚owik",
    "SzydÅ‚Ã³wek", "Åšlichowice", "ÅšwiÄ™tokrzyskie", "Uroczysko", "Wielkopole",
    "Wietrznia", "Zacisze", "Zalesie", "ZagÃ³rska PoÅ‚udnie",
    "ZagÃ³rska PÃ³Å‚noc", "ZagÃ³rze", "ZwiÄ…zkowiec"
]

KAT_DISTRICTS = [
    "ÅšrÃ³dmieÅ›cie", "Koszutka", "Bogucice", "Osiedle Paderewskiego â€“ Muchowiec",
    "ZaÅ‚Ä™Å¼e", "Osiedle Wincentego Witosa", "Osiedle TysiÄ…clecia", "DÄ…b",
    "WeÅ‚nowiec-JÃ³zefowiec", "Ligota-Panewniki", "BrynÃ³w-Osiedle Zgrzebnioka",
    "ZaÅ‚Ä™ska HaÅ‚da-BrynÃ³w", "Piotrowice-Ochojec", "Szopienice-Burowiec",
    "Murkowice", "Kostuchna", "Piotrowice", "Ochojec", "Zarzecze",
    "DÄ…brÃ³wka MaÅ‚a", "Stare Bogucice", "Nowe Bogucice"
]

LUB_DISTRICTS = [
    "Abramowice", "Bronowice", "CzechÃ³w PoÅ‚udniowy", "CzechÃ³w PÃ³Å‚nocny",
    "Czuby PoÅ‚udniowe", "Czuby PÃ³Å‚nocne", "DziesiÄ…ta", "Felin", "GÅ‚usk",
    "HajdÃ³w-ZadÄ™bie", "Kalinowszczyzna", "KonstantynÃ³w", "KoÅ›minek",
    "Ponikwoda", "Rury", "SÅ‚awin", "SÅ‚awinek", "Stare Miasto", "Szerokie",
    "ÅšrÃ³dmieÅ›cie", "Tatary", "WÄ™glin PoÅ‚udniowy", "WÄ™glin PÃ³Å‚nocny",
    "Wieniawa", "WrotkÃ³w", "Za CukrowniÄ…", "Zemborzyce"
]

LOD_DISTRICTS = ["BaÅ‚uty", "GÃ³rna", "Polesie", "ÅšrÃ³dmieÅ›cie", "Widzew"]

OLS_DISTRICTS = [
    "Brzeziny", "Dajtki", "GeneraÅ‚Ã³w", "Grunwaldzkie", "Gutkowo", "Jaroty",
    "KÄ™trzyÅ„skiego", "Kormoran", "Kortowo", "KoÅ›ciuszki", "Likusy",
    "Mazurskie", "Mleczna", "Nad Jeziorem DÅ‚ugim", "NagÃ³rki", "Pieczewo",
    "Podgrodzie", "PodleÅ›na", "Pojezierze", "Redykajny", "ÅšrÃ³dmieÅ›cie",
    "Wojska Polskiego", "Zatorze", "Zielona GÃ³rka"
]

OPO_DISTRICTS = [
    "Borki", "Brzezie", "CzarnowÄ…sy", "Åšwierkle", "Krzanowice",
    "WrÃ³blin", "ZakrzÃ³w", "Chabry", "Armii Krajowej", "GosÅ‚awice",
    "Malinka", "Nowa WieÅ› KrÃ³lewska", "PÃ³Å‚wieÅ›"
]

POZ_DISTRICTS = [
    "Antoninek-Zieliniec-Kobylepole", "Chartowo", "Fabianowo-Kotowo",
    "GÅ‚Ã³wna", "GÅ‚uszyna", "GÃ³rczyn", "Grunwald PÃ³Å‚noc", "Grunwald PoÅ‚udnie",
    "JeÅ¼yce", "Junikowo", "Kiekrz", "Krzesiny-Pokrzywno-Garaszewo",
    "KrzyÅ¼owniki-Smochowice", "Kwiatowe", "Åawica", "Morasko-Radojewo",
    "Naramowice", "Nowe Winogrady PoÅ‚udnie", "Nowe Winogrady PÃ³Å‚noc",
    "Nowe Winogrady WschÃ³d", "Ogrody", "OstrÃ³w Tumski-ÅšrÃ³dka-Zawady-Komandoria",
    "PiÄ…tkowo", "Podolany", "Rataje", "SoÅ‚acz", "Stare Miasto",
    "StaroÅ‚Ä™ka-Minikowo-Marlewo", "Strzeszyn", "Szczepankowo-SpÅ‚awie-Krzesinki",
    "Stare Winogrady", "Åšwierczewo", "Åšw. Åazarz", "Umultowo", "Wilda",
    "Warszawskie-Pomet-MaltaÅ„skie", "Winiary", "Wola", "Å»egrze", "Zielony DÄ™biec"
]

RZE_DISTRICTS = [
    "1000-Lecia", "BaranÃ³wka", "BiaÅ‚a", "BudziwÃ³j", "Bzianka", "DÄ…browskiego",
    "Drabinianka", "Franciszka Kotuli", "GeneraÅ‚a Grota Roweckiego",
    "GeneraÅ‚a WÅ‚adysÅ‚awa Andersa", "Kmity", "Krakowska â€“ PoÅ‚udnie",
    "KrÃ³la StanisÅ‚awa Augusta", "MatysÃ³wka", "Mieszka I", "MiÅ‚ocin â€“ Å›w. Huberta",
    "MiÅ‚ocin", "Nowe Miasto", "Paderewskiego", "PiastÃ³w", "Pobitno",
    "PogwizdÃ³w Nowy", "PuÅ‚askiego", "PrzybyszÃ³wka", "StaromieÅ›cie",
    "ÅšrÃ³dmieÅ›cie", "Wilkowyja", "Zalesie", "Zawiszy Czarnego", "ZwiÄ™czyca"
]

SZC_DISTRICTS = [
    "ArkoÅ„skie-Niemierzyn", "Bukowe-KlÄ™skowo", "Bukowo", "Centrum",
    "DÄ…bie", "Drzetowo-Grabowo", "GÅ‚Ä™bokie-Pilchowo", "GolÄ™cino-GocÅ‚aw",
    "GumieÅ„ce", "Kijewo", "Krzekowo-Bezrzecze", "ÅÄ™kno", "Majowe",
    "MiÄ™dzyodrze-Wyspa Pucka", "Niebuszewo", "Niebuszewo-Bolinko",
    "Nowe Miasto", "OsÃ³w", "PÅ‚onia-Åšmierdnica-Jezierzyce", "Podjuchy",
    "Pogodno", "Pomorzany", "Skolwin", "SÅ‚oneczne", "Stare Miasto",
    "StoÅ‚czyn", "ÅšrÃ³dmieÅ›cie-PÃ³Å‚noc", "ÅšrÃ³dmieÅ›cie-ZachÃ³d", "Åšwierczewo",
    "Turzyn", "ZaÅ‚om", "Zawadzkiego", "Zdroje", "ZÅ‚ocieÅ„"
]

TOR_DISTRICTS = [
    "Barbarka", "Bielany", "Bielawy", "Bydgoskie PrzedmieÅ›cie",
    "CheÅ‚miÅ„skie PrzedmieÅ›cie", "Czerniewice", "Glinki", "GrÄ™bocin nad StrugÄ…",
    "Jakubskie PrzedmieÅ›cie", "Kaszczorek", "Katarzynka", "Koniuchy",
    "Mokre", "Na Skarpie", "Piaski", "PodgÃ³rz", "Rubinkowo", "Rudak",
    "Rybaki", "Stare Miasto", "StarotoruÅ„skie PrzedmieÅ›cie", "Stawki",
    "Winnica", "Wrzosy"
]

ZIE_DISTRICTS = [
    "Barcikowice", "DrzonkÃ³w", "Jany", "Jarogniewice", "JeleniÃ³w", "KieÅ‚pin",
    "KrÄ™pa", "ÅÄ™Å¼yca", "Åugowo", "Nowy Kisielin", "Ochla", "Przylep", "Racula",
    "Raculka", "Sucha", "Zatonie", "Zawada", "Zielona GÃ³ra",
    "Zielona GÃ³ra â€“ Centrum", "Zielona GÃ³ra â€“ PÃ³Å‚noc", "Zielona GÃ³ra â€“ PoÅ‚udnie",
    "Zielona GÃ³ra â€“ WschÃ³d", "Zielona GÃ³ra â€“ ZachÃ³d",
    "Zielona GÃ³ra â€“ Osiedle MÅ‚odych", "Zielona GÃ³ra â€“ Osiedle Piastowskie",
    "Zielona GÃ³ra â€“ Osiedle SÅ‚owiaÅ„skie", "Zielona GÃ³ra â€“ Osiedle Zawiszy Czarnego",
    "Zielona GÃ³ra â€“ Osiedle WyszyÅ„skiego", "Zielona GÃ³ra â€“ Osiedle WrocÅ‚awskie"
]

# --- All supported cities ---
CITIES = [
    "Warszawa", "KrakÃ³w", "BiaÅ‚ystok", "Bydgoszcz", "GdaÅ„sk",
    "GorzÃ³w Wielkopolski", "Kielce", "Katowice", "Lublin", "ÅÃ³dÅº",
    "Olsztyn", "Opole", "PoznaÅ„", "Szczecin", "RzeszÃ³w",
    "ToruÅ„", "WrocÅ‚aw", "Zielona GÃ³ra"
]

# --- Mapping cities to their districts ---
CITY_TO_DISTRICTS = {
    "Warszawa": WAW_DISTRICTS,
    "KrakÃ³w": KRA_DISTRICTS,
    "BiaÅ‚ystok": BIA_DISTRICTS,
    "Bydgoszcz": BYD_DISTRICTS,
    "GdaÅ„sk": GDA_DISTRICTS,
    "GorzÃ³w Wielkopolski": GOR_DISTRICTS,
    "Kielce": KIE_DISTRICTS,
    "Katowice": KAT_DISTRICTS,
    "Lublin": LUB_DISTRICTS,
    "ÅÃ³dÅº": LOD_DISTRICTS,
    "Olsztyn": OLS_DISTRICTS,
    "Opole": OPO_DISTRICTS,
    "PoznaÅ„": POZ_DISTRICTS,
    "Szczecin": SZC_DISTRICTS,
    "RzeszÃ³w": RZE_DISTRICTS,
    "ToruÅ„": TOR_DISTRICTS,
    "WrocÅ‚aw": WAW_DISTRICTS,  # Example placeholder â€” update with real districts if needed
    "Zielona GÃ³ra": ZIE_DISTRICTS
}

def clean_street_name(name: str) -> str:
    if not isinstance(name, str) or not name.strip():
        return "nieznana"
    name = re.sub(r'^(ul\.|ulica|al\.|aleja)\s+', '', name.strip(), flags=re.I)
    return name.strip()


def parse_localization(text: str) -> pd.Series:
    # UsuniÄ™to street
    district = "nieznana"
    city = "nieznane"
    region = "nieznane"

    if not isinstance(text, str) or not text.strip():
        return pd.Series([district, city, region])

    tokens = [t.strip() for t in text.split(',') if t.strip()]
    tokens = [t.replace("â€“", "-") for t in tokens]

    for token in tokens:
        if token.lower() in REGIONS:
            region = token.lower()
            break

    for token in tokens:
        if token in CITIES:
            city = token
            break

    possible_districts = [t for t in tokens if t not in CITIES and t.lower() not in REGIONS]
    if possible_districts:
        district = possible_districts[-1]

    if city in CITY_TO_DISTRICTS:
        for known_district in CITY_TO_DISTRICTS[city]:
            if district.lower() in known_district.lower() or known_district.lower() in district.lower():
                district = known_district
                break

    if city != "nieznane" and region == "nieznane":
        for voivodeship, cities in REGIONS.items():
            if city in cities:
                region = voivodeship
                break

    if city == "nieznane" and region != "nieznane":
        cities_in_region = REGIONS.get(region.lower(), [])
        if len(cities_in_region) == 1:
            city = f"okolice {cities_in_region[0]}"

    return pd.Series([district, city, region])


def scrape_multiple_cities(urls: dict, limit_per_page: int = 72) -> pd.DataFrame:
    all_data = []

    for city_name, base_url in urls.items():
        print(f"Scraping {city_name}...")

        response = requests.get(base_url.format(1), headers=HEADERS)
        soup = BeautifulSoup(response.content, "html.parser")

        try:
            total_listings_tag = soup.find("span", class_="css-1cwh6ya ehod8gt0")
            total_listings = int(re.sub(r"[^\d]", "", total_listings_tag.get_text(strip=True).split()[-1]))
            pages = (total_listings // limit_per_page) + 1
        except:
            total_listings = "N/A"
            pages = 1
        print(f"{city_name}: total listings = {total_listings}, pages = {pages}")

        progress = widgets.IntProgress(
            value=0,
            min=0,
            max=pages,
            description=f'{city_name}:',
            bar_style='success',
            orientation='horizontal'
        )
        display(progress)

        for page in range(1, pages + 1):
            url = base_url.format(page)
            resp = requests.get(url, headers=HEADERS)
            page_soup = BeautifulSoup(resp.content, "html.parser")
            page_offers = extract_offers_from_page(page_soup)
            all_data.extend(page_offers)

            print(f"{city_name} - page {page}: {len(page_offers)} offers", end="\r")
            progress.value = page
            time.sleep(np.random.uniform(1, 3))

        print(f"\nFinished {city_name}. Total listings collected so far: {len(all_data)}\n")

    df = pd.DataFrame(all_data)

    # --- Walidacja i konwersje ---
    # rooms i floor jako int lub NaN
    for col in ['rooms', 'floor']:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int')

    # price jako float, walidacja duÅ¼ych liczb
    if 'price' in df.columns:
        df['price'] = pd.to_numeric(df['price'].astype(str).str.replace(r"[^\d\.]", "", regex=True), errors='coerce')
        df.loc[df['price'] > 1e7, 'price'] = np.nan  # przykÅ‚adowa granica: 10 mln

    # area jako float
    if 'area' in df.columns:
        df['area'] = pd.to_numeric(df['area'].astype(str).str.replace(",", ".").str.replace("mÂ²", "").str.replace(" ", ""), errors='coerce')

    # price per m2 tylko jeÅ›li price > 0 i area > 0
    df['price_per_m2'] = np.where(
        (df['price'] > 0) & (df['area'] > 0),
        df['price'] / df['area'],
        np.nan
    )

    # Parse localization
    if 'localization' in df.columns:
        df[['district', 'city', 'region']] = df['localization'].apply(parse_localization)

    return df


def extract_offers_from_page(soup: BeautifulSoup) -> list:
    data = []
    offers = soup.find_all("section", class_="css-ito1if")

    for offer in offers:
        row = {}
        title_tag = offer.find("p", {"data-cy": "listing-item-title"})
        row["title"] = title_tag.get_text(strip=True) if title_tag else None

        loc_tag = offer.find("p", {"data-sentry-component": "Address"})
        row["localization"] = loc_tag.get_text(strip=True) if loc_tag else None

        price_tag = offer.find("span", {"data-sentry-element": "MainPrice"})
        row["price"] = price_tag.get_text(strip=True).replace("\xa0", " ") if price_tag else None

        price_m2_tag = offer.find("span", class_="css-u0t81v")
        row["price_per_m2"] = price_m2_tag.get_text(strip=True).replace("\xa0", " ") if price_m2_tag else None

        seller_wrapper = offer.find("div", {"data-sentry-element": "SellerInfoWrapper"})
        row["type"] = None
        if seller_wrapper:
            type_tag = seller_wrapper.find("span", class_="css-1ig9uyl e11ruw5v4")
            if type_tag:
                seller_type = type_tag.get_text(strip=True).lower()
                if "biuro" in seller_type:
                    row["type"] = "Biuro nieruchomoÅ›ci"
                elif "oferta prywatna" in seller_type:
                    row["type"] = "Oferta prywatna"
                elif "deweloper" in seller_type:
                    continue
                else:
                    row["type"] = seller_type

        dd_tags = offer.find_all("dd", class_="css-17je0kd")
        if len(dd_tags) >= 3:
            rooms_text = dd_tags[0].get_text(strip=True)
            match_rooms = re.search(r'\d+', rooms_text)
            row["rooms"] = int(match_rooms.group()) if match_rooms else None
        
            area_text = dd_tags[1].get_text(strip=True)
            row["area"] = area_text
        
            floor_text = dd_tags[2].get_text(strip=True).lower()
            if "parter" in floor_text:
                row["floor"] = 0
            else:
                match_floor = re.search(r"\d+", floor_text)
                row["floor"] = int(match_floor.group()) if match_floor else None


        data.append(row)
    return data


def scrape_multiple_cities(urls: dict, limit_per_page: int = 72) -> pd.DataFrame:
    """
    urls: dict w formacie {"Miasto": "URL_do_scrapowania z {} dla page"}
    limit_per_page: ile ofert na stronÄ™ (zgodne z URL)
    """
    all_data = []

    for city_name, base_url in urls.items():
        print(f"Scraping {city_name}...")

        # Pobierz pierwszÄ… stronÄ™, Å¼eby wykryÄ‡ liczbÄ™ ofert
        response = requests.get(base_url.format(1), headers=HEADERS)
        soup = BeautifulSoup(response.content, "html.parser")

        try:
            total_listings_tag = soup.find("span", class_="css-1cwh6ya ehod8gt0")
            total_listings = int(re.sub(r"[^\d]", "", total_listings_tag.get_text(strip=True).split()[-1]))
            pages = (total_listings // limit_per_page) + 1
        except:
            total_listings = "N/A"
            pages = 1
        print(f"{city_name}: total listings = {total_listings}, pages = {pages}")

        # Widget postÄ™pu
        progress = widgets.IntProgress(
            value=0,
            min=0,
            max=pages,
            description=f'{city_name}:',
            bar_style='success',
            orientation='horizontal'
        )
        display(progress)

        for page in range(1, pages + 1):
            url = base_url.format(page)
            resp = requests.get(url, headers=HEADERS)
            page_soup = BeautifulSoup(resp.content, "html.parser")
            page_offers = extract_offers_from_page(page_soup)
            all_data.extend(page_offers)

            print(f"{city_name} - page {page}: {len(page_offers)} offers", end="\r")
            progress.value = page
            time.sleep(np.random.uniform(1, 3))  # losowy delay 1-3s

        print(f"\nFinished {city_name}. Total listings collected so far: {len(all_data)}\n")

    # --- Tworzenie DataFrame ---
    df = pd.DataFrame(all_data)

    # --- Czyszczenie kolumn ---
    if 'price' in df.columns:
        df['price'] = pd.to_numeric(df['price'].astype(str).str.replace(r"[^\d]", "", regex=True), errors='coerce')
    if 'area' in df.columns:
        df['area'] = pd.to_numeric(df['area'].astype(str).str.replace(",", ".").str.replace("mÂ²", "").str.replace(" ", ""), errors='coerce')
    for col in ['rooms', 'floor']:
        if col in df.columns:
            # 1. Konwertuj na numeric i wymuÅ› NaN tam, gdzie nie da siÄ™ konwertowaÄ‡
            df[col] = pd.to_numeric(df[col], errors='coerce')
            # 2. Konwertuj na nullable Int64
            df[col] = df[col].astype('Int64')
            
    # Price per m2 fallback
    df['price_per_m2'] = (df['price'] / df['area']).round(2)

    # Parse localization
    if 'localization' in df.columns:
        df[['district', 'city', 'region']] = df['localization'].apply(parse_localization)

    return df




# -----------------------------------------------------------------------------
# Run scraper
# -----------------------------------------------------------------------------
if __name__ == "__main__":
    df = scrape_multiple_cities(URLS)

    print("\nScraping done 100%")
    print("Cities found:", df['city'].unique())
    print("Regions found:", df['region'].unique())
    print(f"Saved {len(df)} records.")

Scraping Opole...
Opole: total listings = 267, pages = 4

IntProgress(value=0, bar_style='success', description='Opole:', max=4)

Opole - page 4: 47 offers
Finished Opole. Total listings collected so far: 259

Scraping ToruÅ„...
ToruÅ„: total listings = 905, pages = 13

IntProgress(value=0, bar_style='success', description='ToruÅ„:', max=13)

ToruÅ„ - page 13: 27 offers
Finished ToruÅ„. Total listings collected so far: 916

Scraping Bydgoszcz...
Bydgoszcz: total listings = 1750, pages = 25

IntProgress(value=0, bar_style='success', description='Bydgoszcz:', max=25)

Bydgoszcz - page 25: 23 offers
Finished Bydgoszcz. Total listings collected so far: 2464

Scraping Lublin...
Lublin: total listings = 1908, pages = 27

IntProgress(value=0, bar_style='success', description='Lublin:', max=27)

Lublin - page 27: 36 offers
Finished Lublin. Total listings collected so far: 4053

Scraping Zielona GÃ³ra...
Zielona GÃ³ra: total listings = 478, pages = 7

IntProgress(value=0, bar_style='success', description='Zielona GÃ³ra:', max=7)

Zielona GÃ³ra - page 7: 42 offers
Finished Zielona GÃ³ra. Total listings collected so far: 4436

Scraping ÅÃ³dz...
ÅÃ³dz: total listings = 3385, pages = 48

IntProgress(value=0, bar_style='success', description='ÅÃ³dz:', max=48)

ÅÃ³dz - page 48: 2 offerss
Finished ÅÃ³dz. Total listings collected so far: 7172

Scraping RzeszÃ³w...
RzeszÃ³w: total listings = 2046, pages = 29

IntProgress(value=0, bar_style='success', description='RzeszÃ³w:', max=29)

RzeszÃ³w - page 29: 29 offers
Finished RzeszÃ³w. Total listings collected so far: 8851

Scraping BiaÅ‚ystok...
BiaÅ‚ystok: total listings = 1204, pages = 17

IntProgress(value=0, bar_style='success', description='BiaÅ‚ystok:', max=17)

BiaÅ‚ystok - page 17: 52 offers
Finished BiaÅ‚ystok. Total listings collected so far: 9936

Scraping GdaÅ„sk...
GdaÅ„sk: total listings = 3839, pages = 54

IntProgress(value=0, bar_style='success', description='GdaÅ„sk:', max=54)

GdaÅ„sk - page 54: 24 offers
Finished GdaÅ„sk. Total listings collected so far: 13247

Scraping Katowice...
Katowice: total listings = 1398, pages = 20

IntProgress(value=0, bar_style='success', description='Katowice:', max=20)

Katowice - page 20: 31 offers
Finished Katowice. Total listings collected so far: 14311

Scraping Kielce...
Kielce: total listings = 746, pages = 11

IntProgress(value=0, bar_style='success', description='Kielce:', max=11)

Kielce - page 11: 27 offers
Finished Kielce. Total listings collected so far: 15053

Scraping Olsztyn...
Olsztyn: total listings = 527, pages = 8

IntProgress(value=0, bar_style='success', description='Olsztyn:', max=8)

Olsztyn - page 8: 24 offers
Finished Olsztyn. Total listings collected so far: 15532

Scraping PoznaÅ„...
PoznaÅ„: total listings = 3301, pages = 46

IntProgress(value=0, bar_style='success', description='PoznaÅ„:', max=46)

PoznaÅ„ - page 46: 28 offers
Finished PoznaÅ„. Total listings collected so far: 17804

Scraping Szczecin...
Szczecin: total listings = 2111, pages = 30

IntProgress(value=0, bar_style='success', description='Szczecin:', max=30)

Szczecin - page 30: 23 offers
Finished Szczecin. Total listings collected so far: 19638

Scraping KrakÃ³w...
KrakÃ³w: total listings = 7192, pages = 100

IntProgress(value=0, bar_style='success', description='KrakÃ³w:')

KrakÃ³w - page 100: 65 offers
Finished KrakÃ³w. Total listings collected so far: 25124

Scraping Warszawa...
Warszawa: total listings = 12323, pages = 172

IntProgress(value=0, bar_style='success', description='Warszawa:', max=172)

Warszawa - page 172: 12 offers
Finished Warszawa. Total listings collected so far: 35956


Scraping done 100%
Cities found: ['Opole' 'okolice Opole' 'ToruÅ„' 'Bydgoszcz' 'nieznane' 'Lublin'
 'okolice Lublin' 'Zielona GÃ³ra' 'ÅÃ³dÅº' 'okolice ÅÃ³dÅº' 'RzeszÃ³w'
 'okolice RzeszÃ³w' 'BiaÅ‚ystok' 'okolice BiaÅ‚ystok' 'GdaÅ„sk'
 'okolice GdaÅ„sk' 'Katowice' 'okolice Katowice' 'Kielce' 'okolice Kielce'
 'Olsztyn' 'okolice Olsztyn' 'PoznaÅ„' 'okolice PoznaÅ„' 'Szczecin'
 'okolice Szczecin' 'KrakÃ³w' 'okolice KrakÃ³w' 'Warszawa'
 'okolice Warszawa']
Regions found: ['opolskie' 'kujawsko-pomorskie' 'lubelskie' 'lubuskie' 'Å‚Ã³dzkie'
 'podkarpackie' 'podlaskie' 'pomorskie' 'Å›lÄ…skie' 'Å›wiÄ™tokrzyskie'
 'warmiÅ„sko-mazurskie' 'wielkopolskie' 'zachodniopomorskie' 'maÅ‚opolskie'
 'mazowieckie']
Saved 35956 records.

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34793 entries, 0 to 34792
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         34793 non-null  object
 1   localization  34793 non-null  object
 2   price         34793 non-null  float64
 3   price_per_m2  34610 non-null  float64
 4   type          34793 non-null  object
 5   rooms         34793 non-null  Int64
 6   area          34793 non-null  float64
 7   floor         34793 non-null  Int64
 8   district      34793 non-null  object
 9   city          34793 non-null  object
 10  region        34793 non-null  object
dtypes: Int64(2), float64(3), object(6)
memory usage: 3.0+ MB

In [103]:
print(len(df))

34610

In [99]:
df.isnull().sum()

title             0
localization      0
price             0
price_per_m2    183
type              0
rooms             0
area              0
floor             0
district          0
city              0
region            0
dtype: int64

In [102]:
df.describe().round(2)

            price  price_per_m2    rooms      area    floor
count    34610.00      34610.00  34610.0  34610.00  34610.0
mean    841307.40      14423.34     2.63     58.19     2.68
std     585033.73       5677.54     0.96     24.54     2.42
min      79999.00       5000.00      1.0     11.00      0.0
25%     519000.00      10153.76      2.0     42.10      1.0
50%     690000.00      13483.50      3.0     53.12      2.0
75%     946033.00      17516.45      3.0     67.12      4.0
max    9200000.00      50000.00     10.0    200.00     10.0

In [109]:
df.to_csv("cities_data/otodom_apartments_demo.csv", index=False, encoding="utf-8-sig", sep=";")

In [33]:
print(df['city'].unique(), df['region'].unique())

['Olsztyn' 'okolice Olsztyn'] ['warmiÅ„sko-mazurskie']

In [101]:
# --- Filtracja ekstremalnych wartoÅ›ci ---
# Realistyczne zakresy dla kolumn
PRICE_MIN, PRICE_MAX = 1e4, 1e7       # cena w PLN
PRICEM2_MIN, PRICEM2_MAX = 5000, 50000       # cena za metr
AREA_MIN, AREA_MAX = 10, 200          # powierzchnia w mÂ²
ROOMS_MIN, ROOMS_MAX = 1, 10          # liczba pokoi
FLOOR_MIN, FLOOR_MAX = 0, 20          # piÄ™tro

# UsuÅ„ rekordy z ekstremalnymi wartoÅ›ciami lub zamieÅ„ na NaN
df['price'] = df['price'].where(df['price'].between(PRICE_MIN, PRICE_MAX), np.nan)
df['area'] = df['area'].where(df['area'].between(AREA_MIN, AREA_MAX), np.nan)
df['rooms'] = df['rooms'].where(df['rooms'].between(ROOMS_MIN, ROOMS_MAX), np.nan)
df['floor'] = df['floor'].where(df['floor'].between(FLOOR_MIN, FLOOR_MAX), np.nan)

# --- Price per m2 ---
df['price_per_m2'] = np.where(
    (df['price'] > 0) & (df['area'] > 0),
    df['price'] / df['area'],
    np.nan
)

df['price_per_m2'] = df['price_per_m2'].where(
    df['price_per_m2'].between(PRICEM2_MIN, PRICEM2_MAX),
    np.nan
)

# Usuwamy rekordy, ktÃ³re majÄ… NaN w price_per_m2
df = df.dropna(subset=['price_per_m2'])

# --- Opcjonalnie: usuÅ„ rekordy bez powierzchni lub ceny ---
df = df.dropna(subset=['price', 'area'])

# --- Reset indeksu po filtracji ---
df = df.reset_index(drop=True)

# --- Podsumowanie po oczyszczeniu ---
print("Po oczyszczeniu:")
display(df.describe().round(2))
print("\nBraki w danych po oczyszczeniu:")
display(df.isnull().sum())

Po oczyszczeniu:

            price  price_per_m2    rooms      area    floor
count    34610.00      34610.00  34610.0  34610.00  34610.0
mean    841307.40      14423.34     2.63     58.19     2.68
std     585033.73       5677.54     0.96     24.54     2.42
min      79999.00       5000.00      1.0     11.00      0.0
25%     519000.00      10153.76      2.0     42.10      1.0
50%     690000.00      13483.50      3.0     53.12      2.0
75%     946033.00      17516.45      3.0     67.12      4.0
max    9200000.00      50000.00     10.0    200.00     10.0

Braki w danych po oczyszczeniu:

title           0
localization    0
price           0
price_per_m2    0
type            0
rooms           0
area            0
floor           0
district        0
city            0
region          0
dtype: int64

In [15]:
if (df['city'] == "nieznane").any():
    df['city'] = df['city'].replace("nieznane", "okolice Bydgoszczy")

In [108]:
# Filtrujemy tylko rekordy, ktÃ³re **nie** zawierajÄ… 'okolice'
df = df[~df['city'].str.contains('okolice', case=False, na=False)].copy()

# Sprawdzenie
print(df['city'].unique())

['Opole' 'ToruÅ„' 'Bydgoszcz' 'nieznane' 'Lublin' 'Zielona GÃ³ra' 'ÅÃ³dÅº'
 'RzeszÃ³w' 'BiaÅ‚ystok' 'GdaÅ„sk' 'Katowice' 'Kielce' 'Olsztyn' 'PoznaÅ„'
 'Szczecin' 'KrakÃ³w' 'Warszawa']

In [84]:
df = df.dropna(subset=['floor'])

In [23]:
if (df['district'] == "bydgoski").any():
    df['district'] = df['district'].replace("bydgoski", "inna")

In [42]:
files = [
    "otodom_apartments1.csv",
    "otodom_apartments2.csv",
    "otodom_apartments3.csv"
]

# Wczytanie i poÅ‚Ä…czenie wszystkich CSV w jeden DataFrame
dfs = [pd.read_csv(f, sep=";", encoding="utf-8-sig") for f in files]
df_combined = pd.concat(dfs, ignore_index=True)

print(f"Combined shape: {df_combined.shape}")
df.to_csv("cities_data/otodom_apartments.csv", index=False, sep=";", encoding="utf-8-sig")
print("zapisano")

Combined shape: (40467, 12)
zapisano

In [66]:
df[df['price'] == 7924]

,title,localization,price,price_per_m2,type,rooms,area,floor,district,city,region
85,Opole - Chmielowice mieszkania i domy STRUXI,"Chmielowice, Opole, opolskie",7924.0,NaN,Deweloper,4,NaN,72,Chmielowice,Opole,opolskie